<Layouts.authentication flash={@flash}>
  <RobineIdWeb.AuthenticationComponents.sign_in
    theme={@theme}
    form={@form}
    action={RobineId.Runtime.path("/#{@issuer_id}/authorize")}
    form_id="authorization-login-form"
    title={@messages["sign_in.title"]}
    intro={@messages["sign_in.intro"]}
    context={@client_name}
    identifier_label={@messages["sign_in.identifier"]}
    password_label={@messages["sign_in.password"]}
    submit_label={@messages["sign_in.submit"]}
    privacy_note={"Your password is never shared with #{@client_name}."}
    error={@error}
    correlation_id={@correlation_id}
  />
</Layouts.authentication>
